<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/sin_proj.css">
</head>
<body>
	<div>
		<a class="header" href="/">home</a>
		<a class="header" href="about">about</a>
		<a class="header" href="gallery">gallery</a>
		<a class="header" href="contact">contact</a>
	</div>
	<h1> Mandrill Funk </h1>

<%= yield %>

</body>
</html>