<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="styles/sin_proj.css">
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	</head>
	<header>
	<div id="head">
		<h1> Mandrill Funk </h1>
	
		<nav>
			<a class="header" href="/">home</a>
			<a class="header" href="about">about</a>
			<a class="header" href="gallery">gallery</a>
			<a class="header" href="contact">contact</a>
		</nav>
	</div>
	</header> 
	<body>

	<%= yield %>

	</body>
</html>