<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/sin_proj.css">
</head>
<body>
	<div id="form">
		<h2>Contact</h2>
		
		Hello, <%= @full_name %>
	<form method="POST", action="/contact">
	   <input type="text" name="username" placeholder="Username">
	   <input type="password" name="password" placeholder="Password">
	   <input type="submit"> 
	</form>
</div>
</body>
</html>