<!DOCTYPE html>
<html>
<header>
  <link rel="stylesheet" type="text/css" href="styles/animations.css">
  <link rel="stylesheet" type="text/css" href="styles/sin_proj.css">
 
  <title>MANDRILL</title>
</header>
<body>
  

  <h1>Mandrill</h1>
  
  <h1>Brand New Album</h1>
  <div id="heart" class="pulse">
    <img src="Love-Heart-21-500x433.png">
    <!-- <img src="styles/3d-printed-heart-537x405.jpg"> -->
  </div>
  
  <p class="song">"SPIRIT OF THE HEART"</p>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="sinproj.js" type="text/javascript"></script>
</body>
</html>