body {
	background-color: #cccccc;
	font-family: 'Comfortaa';
	text-decoration: none;
	margin: 0px auto;
}

h1 {
  text-align: center;
  width: 100%;
  margin: 0px auto;
}
a.header{
	margin-right: 40px;
	text-transform: uppercase;
	color: yellow;
	text-decoration: none;
	font-weight: bold;
}


p{
  font size: 24px;
 }

a.header:hover{
	color:yellow;
	border: solid yellow 2px;
	border-radius: 5px;
	margin-right: 38px;
	padding: 5px;

}
a:visited {
    text-decoration: none;
    color: yellow;
}
h1 {
	font-size: 50px;
	margin: 0px;
	padding: 5px;
	color: yellow;
}

#head {
	background-color: #000000;
	height: 100px;
	margin: 0px auto;
	
}


iframe {
	margin: 10px;
}
nav {
	padding-left:10px;
}

#form {
	padding-left: 10px;
	background-color: #b2b2b2;
	width: 500px;
	height: 175px;
	border-color:;
	border: solid #666666 2px;
	margin: 10px auto;
	border-radius: 7px;

}

.song {
  display: none;
}

#mandril {
  float: left;
}

#mandril2 {
  float: right;

}

#mandril3 {
  float: right;

}

#mandril4 {
  float: right;
}

#h1 {
  text-align: center;
}